/* form content */

.content {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 800px;
    height: 500px;
    box-shadow: 1px 1px 5px 3px #bbbbbbbd;
}
.form-section{
    height: 800px;
    position: relative;
}
/* form leftside */

.leftside {
    width: 39%;
    height: 100%;
    background: #527ef8;
    background: -webkit-linear-gradient(top, #078f66e7, #24c0b8e7, #5f98aa);
    color: white;
    text-align: center;
}

.leftside-top {
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.leftside .circle-img {
    margin-top: 30%;
    margin-bottom: 20%;
}

/* form rightside */

.rightside {
    display: table !important;
    height: 100%;
    width: 60%;
    background-color: white;
    float: right;
}

.rightside .form-horizontal {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.rightside i {
    color: #576462e7;
}

/* input */

input {
    border: none;
    border-bottom: 1px solid rgb(190, 190, 190);
    display: inline-block;
}

input:focus {
    border-bottom: 2px solid rgb(66, 146, 74);
    transition: 0.2s ease;
    outline: none !important;
}

.invalid-input {
    border-bottom: 2px solid #c23321;
    transition: 0.2s ease;
    outline: none !important;
}

/* register(its hidden at first) */

#register-content {
    opacity: 0;
    top: -100%;
    visibility: hidden;
}

#register-content .inline-div, #register-content .leftside div {
    display: inline-block;
}
.select-div *{
    text-align: right !important;
}
.select-div .bootstrap-select.show-tick .dropdown-menu li a span.text{
    margin-right: 0 !important;
}
.select-div .bootstrap-select.show-tick .dropdown-menu .selected span.check-mark
{
    position: absolute;
    display: inline-block;
    right: inherit  !important;
    left: 15px !important;
    top: 5px;
}
.selectpicker
{
    text-align: right !important;
    float: right !important;
}
/* switch pages */

#switch-to-register, #switch-to-login {
    margin-top: 15%;
}

/*login*/

#login-content div {
    display: inline-block;
}

/* login buttons */

.btn-social {
    text-align: center !important;
}

.btn-social i {
    color: white;
}

.login-button * {
    margin: auto;
    margin-bottom: 5%;
}

.login-button button {
    border-radius: 5px;
    background-color: #2fac4ee7;
}

.login-button button:hover, .login-button button:active, .login-button button:focus {
    background-color: #318144e7 !important;
}

/* hiddle label */

.hidden-title {
    text-align: right;
    margin-right: 20%;
    margin-bottom: 0px !important;
    visibility: hidden;
}

/* circle background */

.circle {
    position: relative;
    width: 100px;
    height: 100px;
    background: rgba(27, 94, 32, 0.5);
    border-radius: 50%;
    
}

/* circle btn */

.circle-btn {
    width: 40px;
    height: 40px;
    background: rgb(62, 82, 105);
    border: none !important;
    color: white;
}
.chat-div{
    width: 60px !important;
    height: 60px !important;


}
.chat-btn
{
    width: inherit;
    height: inherit;
    position : fixed; 
    background-color:rgb(37, 37, 37); 
    z-index: 1;
    bottom : 30px; 
    right : 5px; 
}

/* error section */

.hidden-error {
    margin: auto;
    color: #d31818c4;
    visibility: hidden;
    padding: 1% 0;
}

.hidden-error i {
    float: left;
    font-size: 16px;
    color: inherit;
}

.hidden-error span {
    float: right;
    padding-right: 10px;
    font-size: 14px;
}

/* responsive part */

@media only screen and (max-width:753px) {
    .form-horizontal div {
        text-align: right !important;
    }
    .form-section {
        position: relative;
        top: 100px;
        height: 1200px;
        margin-bottom: 200px;
    }
    .form-section>div {
        width: 90% !important;
        height: 100%;
    }
    .form-section .rightside, .form-section .leftside {
        width: 100%;
        height: 50% !important;
    }
}

@media only screen and (max-width:1088px) and ( min-width:754px) {
    .form-section>div {
        width: 80%;
    }
}