thead tr td {
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.card .card-body .table-responsive .table-hover {
    text-align: center;
}

.filters, .report-filters {
    height: auto;
    margin-bottom: 20px;
    padding: 20px 5px;
    color: white;
}

.nav-btns {
    padding-left: 100px !important;
}

.report-filters {
    background: linear-gradient(-45deg, #9069cf, #36bea6);
}

.report-filters .row {
    margin-top: 15px;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}