<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">

    <meta name="description" content="Login page">
    <meta name="keywords" content="login , register , authentication">
    <meta name="author" content="Atiyeh Norouzzadeh">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>صفحه ورود</title>



    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="pages/login/login.css">
</head>


<body dir="rtl">

    <script type="text/javascript">
        $('.selectpicker').selectpicker({
        });
    </script>

    <!-- form section consists login & register forms -->
    <div class="form-section">

        <!-- registern form -->
        <div id="register-content" class="content">

            <!-- white right section -->
            <div class="rightside inline-div">
                <form class="form-horizontal form-inline" id="register-form" method="POST" name="loginform">

            
                    <!-- name input -->
                    <div class=" form-group col-sm-12 inline-div">
                        <span class="col-sm-2"><i class="far fa-user"></i></span>
                        <input type="text" class="col-sm-9  border-top-0 border-right-0 border-left-0" id="login-user"
                            name="username" onmouseover="ShowLabel('name-label')" onmouseout="HideLabel('name-label')"
                            onkeydown="ValidateUser()" oninput="ValidateUser()" maxlength="30"
                            placeholder="نام و نام خانوادگی خود را وارد کنید">

                    </div>

                    <!-- name error -->
                    <div id="nameerror-div" class="hidden-error col-sm-10 inline-div">
                        <span id="nameerror"></span>
                        <i style="text-align: left" class="fas fa-exclamation-triangle"></i>
                    </div>

                    <!-- email input -->
                    <div class=" form-group  col-sm-12 inline-div">

                        <span class="col-sm-2"><i class="far fa-envelope"></i></span>
                        <input type="text" class="col-sm-9  border-top-0 border-right-0 border-left-0"
                            id="registeremail" name="email" onmouseover="ShowLabel('register-email-label')"
                            onmouseout="HideLabel('register-email-label')"
                            onkeydown="ValidateEmail('registeremail' , 'register-emailerror-div' , 'register-emailerror')"
                            oninput="ValidateEmail('registeremail' , 'register-emailerror-div' , 'register-emailerror')"
                            maxlength="30" placeholder="ایمیل خود را وارد کنید">

                    </div>

                    <!-- email error -->
                    <div id="register-emailerror-div" class="hidden-error col-sm-10  inline-div">
                        <span id="register-emailerror"></span>
                        <i style="text-align: left" class="fas fa-exclamation-triangle"></i>
                    </div>

                 
                    <!-- pass input -->
                    <div class=" form-group  col-sm-12 inline-div">
                        <span class="col-sm-2"><i class="fas fa-lock"></i></span>
                        <input type="password" class="col-sm-9  border-top-0 border-right-0 border-left-0"
                            id="registerpass" name="password" onmouseover="ShowLabel('register-pass-label')"
                            onmouseout="HideLabel('register-pass-label')"
                            onkeyup="ValidatePass('registerpass' , 'register-passerror-div' , 'register-passerror')"
                            oninput="ValidatePass('registerpass' , 'register-passerror-div' , 'register-passerror')"
                            maxlength="30" placeholder="کلمه عبور  خود را وارد کنید">
                    </div>

                    <!-- pass error -->
                    <div id="register-passerror-div" class="hidden-error col-sm-10 inline-div">
                        <span id="register-passerror"></span>
                        <!-- text-align doesnt work on span tag because its inline by default-->
                        <i style="text-align: left" class="fas fa-exclamation-triangle"></i>
                    </div>


                    <!-- repass input  -->
                    <div class=" form-group  col-sm-12 inline-div">
                        <span class="col-sm-2"><i class="fas fa-lock"></i></span>
                        <input type="password" onmouseover="ShowLabel('repass-label')"
                            onmouseout="HideLabel('repass-label')" onkeyup="ValidateRepass()" oninput="ValidateRepass()"
                            class="col-sm-9   border-top-0 border-right-0 border-left-0" id="login-repass"
                            name="repassword" maxlength="30" placeholder="کلمه عبور  خود را وارد کنید">
                    </div>

                    <!-- repass error -->
                    <div id="repasserror-div" class="hidden-error col-sm-10 inline-div">
                        <span id="repasserror"></span>
                        <!-- text-align doesnt work on span tag because its inline by default-->
                        <i style="text-align: left" class="fas fa-exclamation-triangle"></i>
                    </div>

                    <div class="select-div col-sm-12">
                        <select title="نقش خود را انتخاب کنید" name="role" class="selectpicker col-md-6"
                            data-live-search="true">
                            <option>دانشجو</option>
                            <option>استاد</option>
                            <option>مدیر</option>
                            <option>کارمند</option>
                            <option>استاد و مدیر</option>
                        </select>
                    </div>
                    <!-- register button -->
                    <div class="login-button form-group  col-sm-12 inline-div" style="margin-top : 3%;">
                        <button type="button" id="register-submit" class=" col-sm-5 btn  btn-block btn-success">ثبت
                            نام</button>
                    </div>

                    <!-- register with google button -->
                    <div class="login-button form-group  col-sm-12 inline-div">
                        <button type="button" class=" col-sm-5 btn btn-block btn-social btn-google">
                            <i class="fab fa-google"></i> ثبت نام با گوگل
                        </button>
                    </div>
                </form>
            </div>

            <!-- left green section -->
            <div class="leftside inline-div">
                <!-- circle image -->
                <div class="circle-img col-sm-12">
                    <div class="circle">
                        <img class="leftside-top" src="../Assets/images/shahid_beheshti_university.jpg" alt="sbu">
                    </div>
                </div>
                <!-- switch to login -->
                <div class="col-sm-8">
                    <h5>قبلا عضو شدی؟</h5>
                    <p style="font-size : 12px;">برای ورود به سایت بر روی فلش زیر کلیک کن!</p>
                    <button type="button" onclick="switchBetweenElems('login-content' , 'register-content')"
                        id="switch-to-login" class="circle circle-btn">
                        <i class="fas fa-chevron-left"></i>
                    </button>
                </div>
            </div>

        </div>

        <!-- login form -->
        <div id="login-content" class="content" ng-controller="loginCtrl">

            <!-- white right section -->
            <div class="rightside">
                <form class="form-horizontal form-inline " action="" name="loginform">

                    <!-- hidden email label -->
                    <p id="login-email-label" class="hidden-title">پست الکترونیک</p>

                    <!-- email input -->
                    <div class=" form-group  col-sm-12">

                        <span class="col-sm-2"><i class="far fa-envelope"></i></span>
                        <input ng-model="email" type="text" class="col-sm-9  border-top-0 border-right-0 border-left-0"
                            id="loginemail" name="email" onmouseover="ShowLabel('login-email-label')"
                            onmouseout="HideLabel('login-email-label')"
                            onkeyup="ValidateEmail('loginemail' , 'login-emailerror-div' ,'login-email-error' )"
                            oninput="ValidateEmail('loginemail' , 'login-emailerror-div' ,'login-email-error' );
                           if( ValidateEmail('loginemail' , 'login-emailerror-div' ,'login-email-error' ) &&    
                            ValidatePass('loginpass' , 'login-passerror-div' , 'login-passerror-box') 
                            )
                            { 
                                document.getElementById('login-submit').disabled = false; 
                            }
                            " maxlength="30" placeholder="ایمیل خود را وارد کنید">

                    </div>

                    <!-- email error -->
                    <div id="login-emailerror-div" class="hidden-error col-sm-10">
                        <span id="login-email-error"></span>
                        <i style="text-align: left" class="fas fa-exclamation-triangle"></i>
                    </div>

                    <!-- pass label -->
                    <p id="login-pass-label" class="hidden-title">رمز عبور</p>

                    <!-- pass input -->
                    <div class=" form-group  col-sm-12">
                        <span class="col-sm-2"><i class="fas fa-lock"></i></span>
                        <input ng-model="password" type="password"
                            class="col-sm-9  border-top-0 border-right-0 border-left-0" id="loginpass" name="password"
                            onmouseover="ShowLabel('login-pass-label')" onmouseout="HideLabel('login-pass-label')"
                            oninput="ValidatePass('loginpass' , 'login-passerror-div' , 'login-passerror-box') ;
                            if( ValidateEmail('loginemail' , 'login-emailerror-div' ,'login-email-error' ) &&    
                             ValidatePass('loginpass' , 'login-passerror-div' , 'login-passerror-box') 
                             )
                             { 
                                document.getElementById('login-submit').disabled = false; 
                             }
                             " onkeydown="ValidatePass('loginpass' , 'login-passerror-div' , 'login-passerror-box')"
                            maxlength="30" placeholder="کلمه عبور  خود را وارد کنید">
                    </div>

                    <!-- pass error -->
                    <div id="login-passerror-div" class="hidden-error col-sm-10">
                        <span id="login-passerror-box"></span>
                        <i style="text-align: left;" class="fas fa-exclamation-triangle"></i>
                    </div>

                    <!-- remember me -->
                    <div class="row col-sm-12">
                        <input class=" col-sm-1 col-2" type="checkbox" value="">
                        <span class="offset-sm-6  col-6 col-sm-5" style="margin-top: 15px;">
                            مرا به خاطر بسپار
                        </span>
                    </div>

                    <!-- login button -->
                    <div class="login-button form-group  col-sm-12" style="margin-top : 5%;">
                        <button id="login-submit" disabled type="button" onclick="
                            this.disabled = true;
                          " ng-click="logIn()" class=" col-sm-12 col-md-5 btn  btn-block btn-success">ورود</button>
                    </div>

                    <!-- login with google button -->
                    <div class="login-button form-group  col-sm-12">
                        <button type="button" class=" col-sm-12 col-md-5 btn btn-block btn-social btn-google">
                            <i class="fab fa-google"></i> ورود با گوگل
                        </button>
                    </div>
                    <p>
                        {{loginMsg}}
                    </p>
                    <p>رمز خود را فراموش کرده اید؟</p>


                </form>
            </div>

            <!-- left green section -->
            <div class="leftside">

                <!-- circle image -->
                <div class="circle-img col-sm-12">
                    <div class="circle">
                        <img class="leftside-top" src="../Assets/images/shahid_beheshti_university.jpg" alt="sbu">
                    </div>
                </div>

                <!-- switch to register page -->
                <div class="col-sm-8">
                    <h5>عضو سایت نیستی؟</h5>
                    <p style="font-size : 12px;">با کلیک روی فلش زیر میتونی رایگان ثبت نام کنی!</p>
                    <button type="button" onclick="switchBetweenElems( 'register-content' , 'login-content' )"
                        id="switch-to-register" class="circle circle-btn">
                        <i class="fas fa-chevron-right"></i>
                    </button>
                </div>
            </div>

        </div>

    </div>

    <div class="container ">

        <div id="privacy" class="col-sm-12 text-center">
            تمامی حقوق وبسایت نزد دانشگاه شهید بهشتی محفوظ است.
        </div>

    </div>
</body>

</html>