

ol, ul {
    list-style: none;
    margin-bottom: 0px !important;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    margin: 0;
    padding: 0;
}

/*End of Reset CSS*/

/* font */

@font-face {
    font-family: Yekan;
    src: url("../Assets/fonts/Yekan.woff");
}

p, h1, h2, h3, h4, h5, span, a, div, label, input, ::placeholder ,li ,tr , th , table ,td
{
    font-family: Yekan;
}
/*select div*/

.select-div * {
    text-align: right !important;
}

.select-div .bootstrap-select.show-tick .dropdown-menu li a span.text {
    margin-right: 0 !important;
}

.select-div .bootstrap-select.show-tick .dropdown-menu .selected span.check-mark {
    position: absolute;
    display: inline-block;
    right: inherit !important;
    left: 15px !important;
    top: 5px;
}
 
/* navbar (green) */
#list-nav .nav-btns{
    float: left;
    padding: 5px;
    padding-left: 20px ;
}

.green-nav header {
    background: #527ef8;
    background: -webkit-linear-gradient(right, #078f66e7, #24c0b8e7, #5f98aa);
    position: fixed;
    width: 100%;
    z-index: 5;
}

.green-nav header nav {
    width: 60%;
}

.green-nav header nav ul {
    text-align: center;
}

.green-nav header nav ul li {
    display: inline-block;
    line-height: 3;
    width: 100px;
}

.green-nav header nav ul li a, .header-link {
    line-height: 3;
    display: inline-block;
    text-decoration: none;
    color: white !important;
    padding: 0 10px;
}

.green-nav header nav ul li a {
    width: 100%;
}

.green-nav header nav ul li a:hover, .subnav-content a:hover, .subnav-btn:hover {
    background-color: rgba(40, 83, 44, 0.692);
    text-decoration: none;
    color: white;
    line-height: 3;
}
.green-nav
{
    height: 49px;
}
.info {

    text-align: right;
    color: white;
}

.info *, .navbar-left * {
    display: inline-flex;
    align-items: center;
    height: 100%;
}

.info>span {
    padding-right: 5%;
}

.info .fa-graduation-cap {
    font-size: 15px;
}

.info, .navbar-left, nav {
    display: inline-block !important;
    padding: 0 !important;
    margin: 0 !important;
}
.scroll-sidebar .hidden{
    display: none;
}



/* footer */

.footer {
    position: relative;
    background-color: white;
    box-shadow: 0px -2px 5px #aaaaaac0;
    width: 100%;
    bottom: 0;
    z-index: 0;
}

.footer #privacy {
    text-align: center;
}

.footer #privacy, .footer .trust {
    padding-top: 10px
}

.footer .container {
    height: 100%;
    margin: auto;
}

.footer .container>div {
    vertical-align: middle;
}

.footer .social-links {
    height: 100%;
}

.footer .social-links>a {
    padding: 6%;
    color: rgb(85, 85, 85);
    float: right;
    height: 100%;
}

.footer .social-links>a:hover {
    background-color: grey;
}

.footer .social-links>a i {
    font-size: 20px;
}

.footer img {
    height: 40px;
    width: 40px;
}

/* responsive part */

@media only screen and (max-width:360px) {
    .footer .container {
        max-width: 100% !important;
        width: 100% !important;
    }
    .info>span {
        font-size: 13px;
    }
   
}

@media only screen and (max-width:753px) {
    .footer, .circle-btn {
        position: relative !important;
    }
    .circle-btn {
        bottom: 5px;
    }
    .footer .container .social-links {
        order: 2;
    }
    .footer .container #privacy {
        order: 1;
    }
    .footer .container .trust {
        order: 3;
    }
    .footer .trust {
        position: relative;
        left: 15%;
        padding-top: 1%;
    }
    .footer .container {
        max-width: 100% !important;
        width: 100% !important;
        font-size: 14px;
    }
  
}

@media only screen and (max-width:1450px) and ( min-width:1089px) {
    .footer .container {
        width: 100% !important;
    }
   
   

    .info>span {
        font-size: 14px;
        padding-right: none !important;
    }


}

@media only screen and (max-width:1088px) and ( min-width:754px) {
    .footer .container .social-links {
        order: 2;
    }
    .footer .container #privacy {
        order: 1;
    }
    .footer .container .trust {
        order: 3;
    }
    .footer .trust {
        position: relative;
        left: 15%
    }
    .footer .container {
        width: 100% !important;
        max-width: 100% !important;
        font-size: 14px;
    }
   

 
}