thead tr td {
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.card .card-body .table-responsive .table-hover {
    text-align: center;
}
/*common in all*/
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.nav-btns
{
    padding-left: 100px !important;
}


.starrating>label {
    margin: 0 !important;
    color: #222222;
    /* Start color when not clicked */
}

.starrating>.checked {
    color: #ffca08;
}

